:root {
  --primary: #02a0c6;
  --secondary: #aceffd;
  --surface: #c6c6c6;
  --on-surface: #7e7e7e;
  --black: #1a1a1a;
  --white: #ffffff;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
/* START NAV */

body > header{
  position: sticky;
  top: 0px;
  z-index: 3;
}

nav {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding: 5px;
  background-color: var(--primary);
  box-shadow: 1px 1px 2px 1px #00000033;
}

nav img {
  width: 90px;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

nav ul li {
  list-style: none;
  margin: 0px;
  overflow: hidden;
  align-self: center;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: var(--white);
  font-weight: bold;
  font-size: x-large;
  padding: 8px;
  border: solid 2px var(--white);
}

nav ul li a img {
  max-width: 20px;
}
nav ul li a:hover {
  color: var(--secondary);
  border: solid 2px var(--secondary);
}

/* END NAV */


section#services {
  padding: 2%;
  padding-left: 3%;
  padding-right: 3%;
  width: 100%;
  overflow: hidden;
}

section > h2 {
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  font-size: 40px;
  color: var(--primary);
}

div.separator {
  text-align: center;
  padding-bottom: 10px;
}
/** START CATEGORIES BAR **/

article > header > ul.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1px;
  margin-bottom: 3%;
  list-style: none;
  border: solid 1px var(--surface);
  width: 100%;
}

article > header > ul.container > li.category {
  position: relative;
}

article > header > ul.container > li.category > button {
  width: 100%;
  height: 100%;
  padding: 3%;
  border: none;
  background: var(--secondary);
  color: var(--primary);
}

article > header > ul.container > li.category > button:hover {
  background: var(--primary);
  color: var(--white);
}

article > header > ul.container > li.category > button:hover > img {
  filter: brightness(0) invert(100%);
}

/* Start Active Category */

article > header > ul.container > li.category.active-category > button {
  background: var(--primary);
  color: var(--white);
}

article > header > ul.container > li.category.active-category > button > img {
  filter: brightness(0) invert(100%);
}

article > header > ul.container > li.category.active-category > button + div.triangle {
  left: 42%;
  width: 0;
  height: 0;
  bottom: -28px;
  border-top: 30px solid  var(--primary);
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  z-index: 2;
}

/* End Active Category */

article > header > ul.container > li.category > button > img{
  max-height: 60px;
  min-height: 30px;
}

article > header > ul.container > li.category > button > h3 {
  margin: 0px;
  padding-top: 3%;
  padding-bottom: 3%;
  font-size: 20px;
}

/** END CATEGORIES BAR **/

article.information {
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.8s linear;
}

article.information.show {
  visibility : visible;
  opacity : 1;
  display: block;
}

article > div.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  row-gap: 30px;
}

article > div.content aside {
  border: solid 1px var(--surface);
}

article > div.content > article {
  display: grid;
  grid-area: 1 / 2 / 2 / 6;
  gap: 10px;
  padding-left: 3%;
}

article > div.content aside ul {
  list-style: none;
  font-weight: bold;
  color: var(--on-surface);
}

article > div.content aside ul > li {
  position: relative;
  padding: 3%;
  border-bottom: solid 1px var(--surface);
}

article > div.content aside ul > li:hover{
  background: var(--primary);
  color: var(--white);
}

article > div.content aside ul > li.active-service{
  background: var(--primary);
  color: var(--white);
}

article > div.content aside ul > li.active-service div.triangle {
  right: -12px;
  top: 14%;
  width: 0;
  height: 0;
  border-top: 14px solid transparent;
  border-left: 14px solid  var(--primary);
  border-bottom: 14px solid transparent;
  position: absolute;
}



article > div.content > article > header{
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
}

article > div.content > article > header > a{
  background: var(--primary);
  gap: 100px;
  color: var(--white);
  font-weight: bold;
  text-decoration: none;
  padding: 1%;
  text-align: center;
  position: relative;
}

article > div.content > article > header > a > div.triangle {
  left: -16px;
  top: 12%;
  width: 0;
  height: 0;
  border-top: 18px solid transparent;
  border-right: 18px solid  var(--primary);
  border-bottom: 18px solid transparent;
  position: absolute;
}

article > div.content > article > header > a > small {
  display: inline-block;
  vertical-align: super;
  font-size: 20px;
  padding-right: 2% ;
}

article > div.content > article > header > a > img {
  height:  30px;
  width: 30px;
  object-fit: cover;
}

article > div.content > article > header  > h4 {
  color: var(--primary);
  font-size: 32px;
}

article > div.content > article >  h3 {
  color: var(--on-surface);
  font-size: 36px;
  padding-bottom: 1%;
}

article > div.content > article  > div.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  position: relative;
  height: 400px;
}

article > div.content > article  > div.container > div.item{
  z-index: 2;
  color: var(--black);
}

article > div.content > article  > div.container > div:nth-child(1){
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  margin-top: 40px;
  padding: 2%;
  padding-left: 30px;
  background-color: #029fc6db;
  font-size: 18px;
  overflow-x: auto;
}

article > div.content > article  > div.container > div:nth-child(1) > h5 {
  font-size: 22px;
  padding-bottom: 1%
}

article > div.content > article  > div.container > div:nth-child(2){
  grid-column: 3 / 4;
  grid-row: 3;
  margin-top: 10px;
  margin-left: 15px;
}

article > div.content > article  > div.container > div:nth-child(3){
  position: absolute;
  width: 100%;
  height: 100%;
  align-self: flex-start;
  z-index: 1
}

article > div.content > article  > div.container > div:nth-child(3) > img {
  width: 65%;
  height: 100%;
  object-fit: cover;
}


::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color:  #0c0c0c4d;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 10px;
  border: 10px;
}


/* START FOOTER */

footer {
  box-shadow: 2px 2px 2px 4px #00000033;
  padding: 3%;
  color:  var(--white);
  background: var(--primary);
}

footer div:nth-child(1) {
  display: flex;
  flex-wrap: wrap;
}

footer > div:nth-child(1) > ul {
  width: 100%;
}

footer > div:nth-child(2)  {
  overflow: hidden;
}

footer div ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

footer div ul li {
  list-style: none;
  padding: 3px;
}

footer div ul li a {
  display: flex;
  border: solid 2px var(--white);
  width: 40px;
  height: 40px;
  overflow: hidden;
}

footer div ul li a:hover {
  cursor: pointer;
  border: solid 2px var(--secondary);
}

footer div ul li a img {
  width: 60%;
  height: 60%;
  margin: auto;
}

footer > div:nth-child(2) > h5 {
  text-align: center;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-block-start-width: 0px;
  min-height: 1px;
}

/* END  FOOTER */

/* Media Queries */

@media screen  and (max-width: 640px){
  article > div.content > article {
    display: contents;
  }
  article > div.content > article {
    grid-area: 2;
  }
  nav ul > li:nth-child(odd) {
    display: none;
  }
}